<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<%= stylesheet_link_tag "flatly" %>

<% title "City" %>

<h1>
  <%= @city.name %>
</h1>

<div class="container">
  <div class="col-sm-9 attractions">
    <h2>Attractions</h2>
    <div class="attraction-list">
      <div class="panel-group" id="accordion">
        <% for i in 1...@attractions.length %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <input type="checkbox" id=<%= "attraction_" + @attractions[i].id.to_s %>  value="true">
                <a data-toggle="collapse" data-parent="#accordion" href="<%= "#collapse_" + i.to_s %>">
                  <%= @attractions[i].title %>
                </a>
              </h4>
            </div>
            <div id="<%= "collapse_" + i.to_s %>" class="panel-collapse collapse">
              <div class="panel-body">
                <%= @attractions[i].body %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-3 map">
    <h2>Calculations</h2>
    <p>Estimated Time:</p>
    <p>Cost:</p>
  </div>
</div>
