<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<%= stylesheet_link_tag "flatly" %>

<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDNUS-k1NvxtyV_2Q_xNIJ1H15kmhjEFM&libraries=places&sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/data.json"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>

<% title "City" %>

<style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Raleway:700);

</style>
<div class="container">
  <h1>
    <%= @city.name %>
  </h1>
  <div class="initialInputs">
    <div class="col-sm-6">
      <label for="startPoint" class="control-label">Starting point: </label>
      <input type="text" class="form-control" id="startPoint">
    </div>
    <div class="col-sm-6">
      <label for="endPoint" class="control-label">Ending point: </label>
      <input type="text" class="form-control" id="endPoint">
    </div>
  </div>
</div>

<div class="main-container">
  <div class="col-sm-6 attractions">
    <!-- panel.html.erb -->

  </div>
  <div class="col-sm-12 map">
    <!-- map.html.erb -->
    <style type="text/css">#map-canvas { height: 400px; margin: 0; padding: 0;}</style>
    <div id="map-canvas"></div>

    <div class="container">
      <div class="col-sm-9 attractions">
        <h2>Destinations</h2>
        <div class="attraction-list">
          <div class="panel-group" id="accordion">
            <% i = 0 %>
            <h2>Landmarks</h2>
              <% attractions = @city.attractions.where(tag: "landmark") %>
              <%= render partial: "attractions_list", locals: {i: i, attractions: attractions} %>
              <% i += attractions.length %>
            <h2>Museums</h2>
              <% attractions = @city.attractions.where(tag: "museum") %>
              <%= render partial: "attractions_list", locals: {i: i, attractions: attractions} %>
              <% i += attractions.length %>
            <h2>Parks</h2>
              <% attractions = @city.attractions.where(tag: "park") %>
              <%= render partial: "attractions_list", locals: {i: i, attractions: attractions} %>
              <% i += attractions.length %>
            <h2>Shopping</h2>
              <% attractions = @city.attractions.where(tag: "shopping") %>
              <%= render partial: "attractions_list", locals: {i: i, attractions: attractions} %>
              <% i += attractions.length %>
            <h2>Airports</h2>
              <% attractions = @city.attractions.where(tag: "airport") %>
              <%= render partial: "attractions_list", locals: {i: i, attractions: attractions} %>
              <% i += attractions.length %>
            <h2>Train Stations</h2>
              <% attractions = @city.attractions.where(tag: "train") %>
              <%= render partial: "attractions_list", locals: {i: i, attractions: attractions} %>
              <% i += attractions.length %>
            <h2>Universities</h2>
              <% attractions = @city.attractions.where(tag: "university") %>
              <%= render partial: "attractions_list", locals: {i: i, attractions: attractions} %>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <h2>Itinerary</h2>
        <p>Estimated Time:</p>
        <p>Cost:</p>
        <div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>
    </div>
      </div>
    </div>
  </div></div>
  <script>
    var geocoder;
    var map;
    var id;
    var markers = {};
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var waypointsIDs = [];
    var waypoints = [];


    function initialize() {
      directionsDisplay = new google.maps.DirectionsRenderer();
      geocoder = new google.maps.Geocoder();
      var center = new google.maps.LatLng("<%= @city.latitude %> ", "<%= @city.longitude %>");
      map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 12,
        center: center,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
        directionsDisplay.setMap(map);

      $(":checkbox").change(function() {
        if (($(this)).is(':checked')) {
          // add marker
          console.log($(this) + "checked")
          var latLng = new google.maps.LatLng($(this).attr("data-lat"),
            $(this).attr("data-long"));

          // add waypoint 
          console.log("added id: " + $(this)[0].id);
          waypointsIDs.push($(this)[0].id);
          waypoints.push({
            location: latLng,
            stopover: true
          });
          console.log(waypointsIDs.length);

          /** var marker = new google.maps.Marker({
            map: map,
            position: latLng
          });
          id = $(this).attr("id");
          markers[id] = marker; 
          console.log(markers);
          var infowindow = new google.maps.InfoWindow({
            content: $(this).next().text()
          });
          google.maps.event.addListener(marker, 'click', (function() {
            infowindow.open(map, marker);
         })); **/
        }
        else {
      //remove it 
          /** console.log($(this) + "unchecked")
          console.log("the id is: " + id)
          marker = markers[id]; 
          marker.setMap(null);
          console.log(markers); **/
          id = $(this).attr("id");        

          //remove from waypoints as well
          index = waypointsIDs.indexOf(id);
          console.log("found it at " + index);
          if (index > -1) {
            waypointsIDs.splice(index, 1);
            waypoints.splice(index, 1);
          }
          console.log("length of waypoints is " + waypointsIDs.length);
        }

        // no matter what, update navigation
        var startPoint = $('#startPoint').val();
        var endPoint = $('#endPoint').val();

        var request = {
          origin: startPoint,
          destination: endPoint,
          waypoints: waypoints,
          optimizeWaypoints: true,
          travelMode: google.maps.TravelMode.DRIVING
        };

        console.log("request is " + request)
        directionsService.route(request, function(response, status) {
            console.log("status is: " + status);
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            console.log("response is: " + response);
            var route = response.routes[0];
            var summaryPanel = document.getElementById('directions_panel');
            summaryPanel.innerHTML = '';
            for (var i = 0; i < route.legs.length; i++) {
              var routeSegment = i + 1;
              summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment + '</b><br>';
              summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            }
          }
        });
      });

      var mcOptions = {gridSize: 50, maxZoom: 15};

      var markerCluster = new MarkerClusterer(map, markers, mcOptions);

    }
    function codeAddress() {
      var address = document.getElementById('address').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful: ' + status);
        }
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
